* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(241, 236, 228);
}
.left {
  width: 50%;
  text-align: right;
}
.left img {
  width: 650px;
  margin: 0px 50px 100px 0px;
}
.right {
  width: 50%;
}
.right h2 {
  font-size: 2.6rem;
  line-height: 3.4rem;
  font-weight: 900;
}
.right h4 {
  font-size: 1.5rem;
  line-height: 3.4rem;
  font-weight: 900;
}
.right span {
  color: tomato;
}
.right p {
  margin-top: 20px;
  width: 600px;
  text-align: justify;
}
.right button {
  margin-top: 40px;
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 9px;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 54, 5, 1) 0%,
    rgba(244, 210, 92, 1) 100%
  );
}
.right button:hover{
  font-weight: bold;
  transition-duration: .3s;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(241, 61, 6) 0%,
    rgb(241, 191, 9) 100%
  );
}
@media screen and (max-width: 600px) and (min-width: 370px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .left img {
    width: 300px;
    margin: 0 auto;
  }
  .right {
    width: 100%;
    padding: 30px;
  }
  .right h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0px 0px 0px 20px;
    text-align: center;
  }
  .right h4 {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 20px;
  }
  .right span {
    color: tomato;
  }
  .right p {
    margin-top: 0px;
    font-size: 0.7rem;
    line-height: 1.1rem;
    width: 300px;
    text-align: justify;
    margin: 0 auto;
  }
  .right button {
    margin: 40px 0px 0px 20px;
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}
@media screen and (max-width: 370px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .left img {
    width: 300px;
    margin: 0 auto;
  }
  .right {
    width: 100%;
    padding: 30px;
  }
  .right h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0px 0px 0px 20px;
  }
  .right h4 {
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 900;
    margin-top: 30px;
  }
  .right span {
    color: tomato;
  }
  .right p {
    margin-top: 0px;
    font-size: 0.7rem;
    line-height: 1.1rem;
    width: 300px;
    text-align: justify;
    margin: 0 auto;
  }
  .right button {
    margin: 40px 0px 0px 20px;
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .left img {
    width: 500px;
    margin: 0 auto;
  }
  .right {
    width: 100%;
    padding: 30px;
  }
  .right h2 {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0px 0px 0px 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .right h4 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 900;
    width: 500px;
    text-align: justify;
    margin: 0 auto;
  }
  .right span {
    color: tomato;
  }
  .right p {
    margin-top: 0px;
    font-size: 0.8rem;
    line-height: 1.1rem;
    width: 500px;
    text-align: justify;
    margin: 20px auto;
  }
  .right button {
    margin: 40px 0px 0px 109px;
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 100%;
    text-align: center;
  }
  .left img {
    width: 600px;
    margin: 0 auto;
  }
  .right {
    width: 100%;
    padding: 30px;
  }
  .right h2 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0px 0px 0px 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .right h4 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 900;
    width: 650px;
    text-align: justify;
    margin: 0 auto;
  }
  .right span {
    color: tomato;
  }
  .right p {
    margin-top: 0px;
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 650px;
    text-align: justify;
    margin: 20px auto;
  }
  .right button {
    float: right;
    margin-right: 75px;
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}
@media screen and (max-width: 1200px) and (min-width: 900px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 50%;
    text-align: right;
  }
  .left img {
    width: 440px;
    margin: 0px 50px 100px 0px;
  }

  .right h2 {
    width: 400px;
    font-size: 2.6rem;
    line-height: 3.4rem;
    font-weight: 900;
  }
  .right p {
    margin-top: 20px;
    width: 400px;
    font-size: 0.9rem;
    text-align: justify;
  }
  .right button {
    margin-top: 40px;
    padding: 8px 15px;
    font-size: 0.8rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}
@media screen and (max-width: 1350px) and (min-width: 1200px) {
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 236, 228);
  }
  .left {
    width: 50%;
    text-align: right;
  }
  .left img {
    width: 570px;
    margin: 0px 50px 100px 0px;
  }
  .right {
    width: 50%;
  }
  .right h2 {
    font-size: 2.6rem;
    line-height: 3.4rem;
    font-weight: 900;
  }
  .right h4 {
    font-size: 1.6rem;
    line-height: 3.4rem;
    font-weight: 900;
  }
  .right span {
    color: tomato;
  }
  .right p {
    margin-top: 20px;
    width: 470px;
    text-align: justify;
  }
  .right button {
    margin-top: 40px;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 9px;
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(210, 54, 5, 1) 0%,
      rgba(244, 210, 92, 1) 100%
    );
  }
}
